{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{% url 'user' %}">
  {% csrf_token %}  
  <div class="form-group">
      
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}  